.allcourse_pane {
  padding-top: 0rem;
  display: flex;
  .allcourse__left-container {
    display: block;
    width: 70%;
    .left__card {
      width: 100%;
      height: 680px;
    }
  }
  .allcourse__right-container {
    display: block;
    width: 28%;
    padding-left: 2%;
    margin-top: 3.5rem;
    .right__card {
      width: 100%;
      height: 680px;
    }
  }
}
