.cartlist {
  overflow-y: scroll;
  .cartlist__title {
    display: flex;
    height: 4rem;
    width: calc(100% - 2rem);
    margin: 0px 1rem;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-bottom: 1.5px solid rgba(127, 127, 127, 0.508);
    box-sizing: border-box;
    position: sticky;
    top: 0rem;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }
  .cartlist__items {
    position: relative;
    z-index: 0;
    margin: 0px 1rem;
    padding: 1rem;
    border-bottom: 1.5px solid rgba(127, 127, 127, 0.508);
    box-sizing: border-box;
    .cartlist__items__list {
      display: flex;
    }
    .cartlist__items__img {
      display: flex;
      width: 5rem;
      height: 4rem;
      background: #f2f2f2 0% 0% no-repeat padding-box;
    }
    .cartlist__items__title {
      display: flex;
      width: 100%;
      padding-left: 0.5rem;
    }
  }
  .cartlist__items__price {
    padding-top: 0.125rem;
    text-align: right;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #080808;
  }
  .cartList__checkout_container {
    display: flex;
    height: 5rem;
    width: calc(100% - 2rem);
    margin: 0px 1rem;
    border-top: 1.5px solid rgba(127, 127, 127, 0.508);
    position: sticky;
    top: 36.5rem;
    bottom: 1px;
    background-color: white;
    .cartList__checkout__bill {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
    .cartList__checkout__button {
      display: flex;
      height: 100%;
      align-items: center;
      padding-left: 1rem;
      font-size: 0.875rem;
      color: #ff6738;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
