.filterbar_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 3rem;
  padding-bottom: 0.5rem;
  .filterbar__title {
    padding-left: 0.5rem;
    line-height: 2.25rem;
    text-align: center;
  }
  .filterbar__menu {
    .filterbar__menu__select {
      height: 2.25rem;
      padding: 0.275rem 1rem;
      border: 1.5px solid black;
      &:hover {
        cursor: pointer;
      }
      .filterbar__menu__option {
        padding: 0.25rem 1rem;
        background-color: white;
        text-decoration: underline;
      }
    }
  }
}
