.recommended {
  margin-top: 2rem;
  border: 1.5px solid rgb(162, 161, 161);
  padding: 1rem;
  .recommended__head {
    font: normal normal 600 18px/22px Montserrat;
    padding-bottom: 0.5rem;
  }
}
