.searchbar {
  display: flex;
  height: 3rem;
  padding-bottom: 0.5rem;
  .searchbar__input {
    height: 1.75rem;
    width: 75%;
    padding: 0.275rem 0.5rem;
    font-size: 1rem;
    background: #eff2ff 0% 0% no-repeat padding-box;
    outline: none;
    border: 0rem;
  }
  .searchbar__logo {
    display: flex;
    height: 1.75rem;
    width: 15%;
    padding: 0.25rem 0.5rem;
    background: #ff6738 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    .searchbar__logo_image {
      width: 1.25rem;
      height: auto;
    }
  }
}
